*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(235, 242, 255);
}

#calcContainer{
    border: black, 2px, solid;
    border-radius: 15%;
    background-color: rgb(234, 234, 234);
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gradeInput {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: blue, 1px, inset;
}

#warning{
    display: none;
    border: black 5px solid;
    border-radius: 10px;
    background-color: tomato;
}