*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(235, 242, 255);
}

#calcContainer{
    background-color: rgb(234, 234, 234);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.gradeInput {
    width: 50px;
}

#warning{
    visibility: hidden;
}