:root{
    --c1: #002554;
    --c2: #5D8AA8;
    --c3: #D6D6D6;
    --c4: #99A29B;
    --c5: #C3423F;
    --c6: #26292C;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: var(--c2);
}

body > p, body > h1, body > h3{
    color: var(--c3);
}

#calcContainer{
    border: var(--c6), 3px, solid;
    border-radius: 15px;
    background-color: var(--c3);
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.gradeInput {
    width: 50px;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: var(--c6);
    border-radius: 2px;
}

#output{
    margin-top: 10px;;
}

#warning{
    display: none;
    max-width: 80%;
    border: var(--c6) 5px solid;
    border-radius: 10px;
    background-color: var(--c5);
    margin: 20px auto;
    
}

#danger{
    display: none;
    max-width: 80%;
    border: var(--c6) 5px solid;
    border-radius: 10px;
    background-color: var(--c4);
    margin: 20px auto;
}

#calculate{
    padding: 10px;
    margin: 10px;
    font-size: large;
}

#info{
    font-size: small;
    font-style: italic;
    max-width: 400px;
}

